* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.4rem;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #333333;
  max-width: 100%;
  overflow-X: hidden;
  background: #F2F2F2; }

.page {
  display: grid;
  width: 75%;
  margin: 100px auto;
  grid-template-columns: 5fr 2fr;
  column-gap: 80px;
  align-items: start; }
  @media only screen and (max-width: 1200px) {
    .page {
      width: 85%;
      column-gap: 40px;
      grid-template-columns: 2fr 1fr; } }
  @media only screen and (max-width: 900px) {
    .page {
      margin: 95px auto;
      width: 90%;
      grid-template-columns: 5fr 3fr; } }
  @media only screen and (max-width: 700px) {
    .page {
      margin: 85px auto;
      grid-template-columns: 100%; } }

.hidden {
  display: none !important; }

@media only screen and (min-width: 701px) {
  .show-sm {
    display: none !important; } }

@media only screen and (max-width: 700px) {
  .hide-sm {
    display: none !important; } }

.btn {
  color: #F2F2F2;
  background: #FF6600;
  padding: 10px 18px;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: all .5s; }
  .btn:hover {
    background: #f06000;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); }

.header {
  background: #FF6600;
  height: 60px;
  padding: 10px 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15); }
  @media only screen and (max-width: 700px) {
    .header {
      padding: 10px 20px; } }
  .header__logo {
    width: 40px;
    height: 40px; }
    .header__logo img {
      width: 100%; }
  .header .nav__user {
    height: 35px;
    display: flex;
    align-items: center; }
    .header .nav__user img {
      height: 100%; }
    .header .nav__user span {
      margin-left: 10px;
      color: #F2F2F2;
      font-size: 1.6rem; }

.card {
  background: white;
  border: solid 1px #F2F2F2;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 25px; }
  .card__header {
    padding-bottom: 7px;
    border-bottom: solid 1px #F2F2F2;
    font-weight: normal;
    font-size: 1.7rem; }
  .card__body {
    padding: 10px 0; }

.form {
  padding: 5px 15px 15px 15px; }
  @media only screen and (max-width: 700px) {
    .form {
      padding: 5px; } }
  .form__group {
    margin: 10px 0 15px 0; }
  .form__input {
    display: block;
    width: 100%;
    font-size: 1.5rem;
    padding: 12px 15px;
    margin-top: 5px;
    border: solid 1px #828282;
    outline: none;
    border-radius: 5px;
    color: #5B5B5B; }
    .form__input:active, .form__input:focus {
      border-color: #333333; }
  .form__textarea {
    display: block;
    width: 100%;
    font-size: 1.5rem;
    padding: 12px 15px;
    margin-top: 5px;
    border: solid 1px #828282;
    outline: none;
    border-radius: 5px;
    color: #5B5B5B;
    min-height: 70px;
    font-family: 'Roboto', sans-serif ;
   }
    .form__textarea:active, .form__textarea:focus {
      border-color: #333333; }
  .form__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: -10px; }
  .form__switch {
    background: #F2F2F2;
    width: 40px;
    height: 14px;
    margin-left: 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: .8s all;
    display: flex;
    align-items: center; }
    .form__switch .toggle {
      height: 18px;
      width: 18px;
      border-radius: 50%;
      background: #c2c2c2;
      transition: .5s all;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15); }
    .form__switch--checkbox {
      display: none; }
  .form__switch--checkbox:checked + .form__switch {
    background: rgba(255, 102, 0, 0.3);
    justify-content: flex-end; }
    .form__switch--checkbox:checked + .form__switch .toggle {
      background: #FF6600; }
  .form .post-toggle {
    display: flex;
    align-items: center; }

.news__list {
  list-style: none; }

.news__item {
  padding: 15px 0;
  display: flex;
  align-items: center; }
  .news__item:not(:last-child) {
    border-bottom: solid 1px #F2F2F2; }

.news .upvote {
  display: flex;
  align-items: center;
  flex-direction: column; }
  .news .upvote__triangle {
    width: 15px;
    height: 14px;
    background: #F2F2F2;
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
    border-radius: 10%;
    cursor: pointer;
    transition: .3s all; }
    .news .upvote__triangle:hover {
      background: #FF6600; }
  .news .upvote__count {
    font-size: 1.2rem;
    margin-top: 4px; }

.news__body {
  margin-left: 10px; }

.news__title {
  text-decoration: none;
  color: #5B5B5B;
  font-size: 1.5rem;
  transition: color .2s;
  display: block;
  margin-bottom: 5px; }
  .news__title:hover {
    color: #333333;
  font-weight: bold; }

.news__details {
  font-size: 1.2rem;
  color: #a8a8a8; }

.news__link {
  color: #FF6600;
  text-decoration: none; }
  .news__link:hover {
    text-decoration: underline; }

.nav__list {
  list-style: none;
  text-align: center; }
  .nav__list li {
    padding: 5px 0; }
    .nav__list li:not(:last-child) {
      border-bottom: 1px solid #F2F2F2; }

.nav__link {
  color: #FF6600;
  text-decoration: none;
  display: block;
  padding: 6px 0;
  border-radius: 3px;
  transition: .2s all; }
  .nav__link.active, .nav__link:hover {
    background: #FF6600;
    color: white; }

.nav__toggle {
  display: inline-block;
  width: 2.5rem;
  height: 2px;
  background: #828282;
  position: relative;
  cursor: pointer; }
  .nav__toggle::before {
    top: -.65rem; }
  .nav__toggle::after {
    top: .65rem; }
  .nav__toggle--bg {
    position: relative;
    background: #ffffff;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
    z-index: 1500; }

.nav__toggle::before, .nav__toggle::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 2.5rem;
  height: 2px;
  background: #828282;
  transition: .2s all; }

.nav__toggle--bg:hover > .nav__toggle::before {
  top: -.8rem; }

.nav__toggle--bg:hover > .nav__toggle::after {
  top: .8rem; }

.nav__background {
  background: rgba(5, 35, 54, 0.95);
  position: fixed;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  top: 1.1rem;
  right: 2.3rem;
  z-index: 1200;
  transition: .5s all; }

.nav__checkbox:checked ~ .nav__background {
  transform: scale(100); }

.nav__checkbox:checked ~ .mobile__nav {
  opacity: 1;
  display: flex; }

.nav__checkbox:checked ~ .nav__checkbox > .nav__toggle--bg > .nav__toggle {
  background: transparent; }
  .nav__checkbox:checked ~ .nav__checkbox > .nav__toggle--bg > .nav__toggle::before {
    top: 0;
    transform: rotate(45deg); }
  .nav__checkbox:checked ~ .nav__checkbox > .nav__toggle--bg > .nav__toggle::after {
    top: 0;
    transform: rotate(-45deg); }

.nav .mobile__nav {
  position: fixed;
  top: 10rem;
  left: 0;
  width: 100%;
  z-index: 2000;
  display: flex;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  display: none;
  transition: .8s all; }
  .nav .mobile__nav .nav__list {
    width: 80%;
    margin: auto; }
  .nav .mobile__nav .nav__user {
    margin-bottom: 1.5rem; }

@media only screen and (max-width: 700px) {
  aside {
    display: none; } }
